<template>
    <div class="job-item">
        <div class="title">
            <div class="date">{{ data.date }}</div>
            {{ data.position }}
        </div>
        <div class="provider">{{ data.provider }}</div>
        <div class="description" v-if="!!data.description">{{ data.description }}</div>
        <div class="awards" v-if="!!data.awards">
            <div v-for="(award, key) in data.awards" :key="`award-${key}`">
                <Award :title="award" />
            </div>
        </div>
    </div>
</template>

<script>
import Award from '../award/Award';

export default {
    components: {
        Award
    },
	props: {
		data: {
			type: Object,
			required: true
		}
	}
}
</script>

<style lang="scss">
    @import '../../assets/css/_variables';

    .job-item {
        padding: 10px 0;
        position: relative;

        &:before {
            content: '\f054';
            font-family: 'FontAwesome';
            color: $main-color;
            font-size: 16px;
            position: absolute;
            top: 10px;
            right: 101%;
        }

        .title {
            overflow: hidden;
            font-weight: 900;
            font-size: 18px;

            .date {
                border: 2px solid #ccc;
                padding: 0 10px;
                border-radius: 5px;
                float: left;
                margin-right: 5px;
                font-size: 14px;
            }
        }
        .provider {
            color: #999;
            font-weight: 900;
        }
        .description {

        }
    }
</style>
