<template>
    <div class="award-item">
        <i class="fa fa-trophy"></i> <span class="info">{{ title }}</span>
    </div>
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			required: true
		}
	}
}
</script>

<style lang="scss">
    @import '../../assets/css/_variables';

    .award-item {
        display: block;
        padding: 10px 0;

        .fa-trophy {
            color: #FFCB00;
        }
    }
</style>
