<template>
    <div class="about">
		<div class="content">
			<div class="block">
				<div class="item" title="WhatsApp" v-if="!!data.phone">
					<i class="fa fa-whatsapp"></i>
					{{ data.phone }}
				</div>
				<div class="item" title="E-mail" v-if="!!data.mail">
					<i class="fa fa-envelope"></i>
					<a :href="`mailto:${data.mail}`">{{ data.mail }}</a>
				</div>
				<div class="item" title="Website" v-if="!!data.web">
					<i class="fa fa-globe"></i>
					<a :href="data.web" target="_blank">{{ data.web }}</a>
				</div>
				<div class="item" title="Github" v-if="!!data.github">
					<i class="fa fa-github"></i>
					<a :href="`https://github.com/${data.github}`" target="_blank">{{ data.github }}</a>
				</div>
				<div class="item" title="Gitlab" v-if="!!data.gitlab">
					<i class="fa fa-gitlab"></i>
					<a :href="`https://gitlab.com/${data.gitlab}`" target="_blank">{{ data.gitlab }}</a>
				</div>
			</div>
			<div class="block" title="Endereço" v-if="!!data.address">
				<i class="fa fa-map-marker"></i>
				{{ data.address }}
			</div>
		</div>
    </div>
</template>

<script>
export default {
	props: {
		data: {
			type: Object,
			required: true
		}
	}
}
</script>

<style>
</style>
