<template>
    <div class="header">
        <div class="logo"><img :src="image" /></div>
        <h1>{{ name }}</h1>
        <div class="subtitulo">{{ subtitle }}</div>
    </div>
</template>

<script>
export default {
    props: {
        name: {
            required: true
        },
        image: {
            required: true
        },
        subtitle: {
            required: true
        },
    }
}
</script>

<style>
</style>

