<template>
    <div id="app">
		<header class="header">
			<div class="content">
				<Header :image="`${staticPath}${personal.logo}`" :name="personal.name" :subtitle="personal.subtitle" />
			</div>
			<About :data="contacts" />
		</header>
		<div class="conteudo">
			<div class="content">

				<div class="bio-wrapper" v-if="!!description && (!!languages.length)">
					<h2>Sobre</h2>
					<div class="inline-wrapper">
						<div class="sobre">
							<span v-html="description"/>
						</div>
						<div class="bio">
							<div class="item" v-if="!!languages.length">
								<strong>Idiomas:</strong><br/>
								<span :key="`language-${index}`" v-for="(language, index) in languages">
									{{ language }}<span v-if="index != languages.length - 1">,</span>
								</span>
							</div>
							<br/>
							<div class="item" v-if="!!school">
								<strong>Formação acadêmica:</strong><br/>
								<Course :data="school" />
							</div>
						</div>
					</div>
				</div>

				<div class="history-wrapper has-hr" v-if="!!history.length">
					<h2>Experiência profissional</h2>
					<ul class="ul-history">
						<li class="item" :key="`history-${index}`" v-for="(history, index) in history">
							<Job :data="history" />
						</li>
					</ul>
				</div>

				<div class="complementary-wrapper has-hr avoid-page-break" v-if="!!complementary.length">
					<h2>Cursos complementares</h2>
					<ul class="ul-complementary-courses">
						<li class="item" :key="`course-${index}`" v-for="(course, index) in complementary">
							<Course :data="course" />
						</li>
					</ul>
				</div>

				<div :class="`${index}-wrapper has-hr avoid-page-break`" :key="nodeList.title" v-for="(nodeList, index) in nodeLists">
					<h2>{{ nodeList.title }}</h2>
					<ul class="ul-nodelists">
						<li class="item" :key="`node-${key}`" v-for="(node, key) in nodeList.items">
							<div class="box">
								{{ node }}
							</div>
						</li>
					</ul>
				</div>

			</div>
		</div>
		<footer class="footer">
			<div class="content">
				<div class="linkedIn-info" v-if="!!contacts.linkedin"><i class="fa fa-linkedin-square"></i> Veja mais no meu <a :href="contacts.linkedin" target="_blank">{{ contacts.linkedin }}</a></div>
				<div class="gitlab-info" v-if="!!repository"><i class="fa fa-gitlab"></i> Código-fonte do currículo: <a :href="repository" target="_blank">{{ repository }}</a></div>
				<div class="codesandbox-info" v-if="!!contacts.codesandbox"> Tenho mais alguns experimentos aqui: <a :href="`https://codesandbox.io/u/${contacts.codesandbox}`" target="_blank">https://codesandbox.io/u/{{ contacts.codesandbox }}</a></div>
				<br/>
				Última atualização em {{ lastUpdate }}.
			</div>
		</footer>
    </div>
</template>

<script>
import Header from "./components/header/Header";
import About from "./components/about/About";
import Course from "./components/course/Course";
import Job from "./components/job/Job";
const moment = require("moment");

export default {
  name: "app",
  components: {
    Header,
    About,
    Course,
    Job
  },
  data() {
    const staticPath = "static/";
    return {
      staticPath,
      lastUpdate: "12 de Novembro de 2018",
      repository: "https://gitlab.com/rikezenho/my-cv",
      personal: {
        logo: "logo.png",
        name: "Henrique Hideki Kuwai",
        subtitle: `Solteiro, brasileiro, ${moment().diff(
          "1993-06-20",
          "years"
        )} anos.`
      },
      contacts: {
        phone: "(11) 98877-9888",
        mail: "eu@henriquekuwai.com.br",
        web: "henriquekuwai.com.br",
        gitlab: "rikezenho",
        github: "rikezenho",
        codesandbox: "Rikezenho",
        address:
          "Rua Guatapará, 215 - Vila Guarani - 04310-040 - São Paulo, SP",
        linkedin: "http://br.linkedin.com/in/henriquekuwai"
      },
      description:
        "Trabalho com desenvolvimento web desde os 15 anos criando todo tipo de site e aplicação para a web. Hoje, foco mais na parte de front-end.<br/><br/>Desenvolvi o trabalho mais importante da minha carreira atuando como líder de desenvolvimento de novas lojas na Infracommerce, empresa full-service de e-commerce. Sou curioso e autodidata por natureza, sempre em busca de novos aprendizados.",
      languages: [
        "Português nativo/fluente",
        "Inglês intermediário/técnico",
        "Espanhol básico"
      ],
      school: {
        institute: "Universidade Presbiteriana Mackenzie",
        course: "Publicidade e Propaganda (Criação)",
        date: "Jan/2012 - Dez/2015",
        logo: `${staticPath}logos/mackenzie.png`
      },
      history: [
        {
          position: "Líder técnico Front-end",
          provider: "Infracommerce - Vila Olímpia, São Paulo",
          date: "Nov/16 - Atual"
        },
        {
          position: "Desenvolvedor Front-end",
          provider: "Netshoes - Liberdade, São Paulo",
          description:
            "Atuação na equipe de novos produtos da plataforma Freedom, criação de novas lojas e desenvolvimento de ferramentas internas no admin da companhia, utilizando React e Redux. Criação também de ferramentas para o workflow da equipe.",
          date: "Abr/18 - Out/18"
        },
        {
          position: "Líder técnico Front-end",
          provider: "Infracommerce - Vila Olímpia, São Paulo",
          description:
            "Líder de desenvolvimento de novas lojas, coordenando e orientando a implantação das lojas desde o escopo até o lançamento; também boto a mão na massa, criando bibliotecas e scripts utilizando Javascript, jQuery e ES6. Criação de ferramentas para melhorar o workflow da equipe, como extensões para o navegador.",
          date: "Jul/16 - Abr/18",
          awards: ["Prêmio de revelação TI 2016"]
        },
        {
          position: "Desenvolvedor Full Stack",
          provider: "Agevole - Santo Amaro, São Paulo",
          description:
            "Criação e programação de sites institucionais, portais, hotsites promocionais, integração com banco de dados, sites em WordPress, além de ferramentas para melhorar processos e também auxílio da equipe em questões de web e digital.",
          date: "Jan/14 - Mar/16"
        },
        {
          position: "Webdeveloper",
          provider: "Jornal Nippak - Liberdade, São Paulo",
          description:
            "Atualização do portal do Jornal, desenvolvimento de ferramentas internas para a equipe e também campanhas online.",
          date: "Ago/12 - Mar/13"
        },
        {
          position: "Webdesigner",
          provider: "Agência Elementare - Vila Carrão, São Paulo",
          description:
            "Estruturação e montagem de sites utilizando PHP, ASP, CSS, Javascript (framework jQuery). Desenvolvimento de painéis de controle, sistemas de gerenciamento de conteúdo e interfaces de usuário.",
          date: "Ago/08 - Jun/10"
        }
      ],
      complementary: [
        {
          institute: "Udemy (online)",
          course: "React + Redux (by Leonardo Moura Leitão)",
          date: "Set/2018",
          logo: `${staticPath}logos/udemy.png`
        },
        {
          institute: "Udemy (online)",
          course: "Learn and Understand NodeJS (by Tony Alicea)",
          date: "Jun/2018",
          logo: `${staticPath}logos/udemy.png`
        },
        {
          institute: "Alura (online)",
          course: "HTTP: Entendendo a web por baixo dos panos",
          date: "Fev/2018",
          logo: `${staticPath}logos/alura.png`
        },
        {
          institute: "Alura (online)",
          course: "Vue.js parte 2: construindo Single Page Applications",
          date: "Dez/2017",
          logo: `${staticPath}logos/alura.png`
        },
        {
          institute: "Alura (online)",
          course:
            "JavaScript avançado I: ES6, orientação a objetos e padrões de projetos",
          date: "Dez/2016",
          logo: `${staticPath}logos/alura.png`
        },
        {
          institute: "Udemy (online)",
          course: "Curso de UX para Webdesigners",
          date: "Out/2014",
          logo: `${staticPath}logos/udemy.png`
        }
      ],
      nodeLists: {
        experience: {
          title: "Tenho experiência ou já trabalhei com...",
          items: [
            "HTML",
            "CSS",
            "SCSS",
            "Bootstrap",
            "Chrome Extensions",
            "JavaScript",
            "ES6+",
            "React",
            "Redux",
            "Ant Design",
            "Vue.JS",
            "jQuery",
            "Git",
            "SVN",
            "Gulp",
            "Grunt",
            "Bower",
            "Express",
            "Node.js",
            "MongoDB",
            "Dust.js",
            "Mustache.js",
            "JSF",
            "Apache Velocity",
            "PHP",
            "MySQL",
            "WordPress",
            "Scrum",
            "Kanban",
            "Design responsivo",
            "Design de interfaces",
            "SEO",
            "Google Analytics",
            "GTM"
          ]
        },
        stillLearning: {
          title: "Aperfeiçoando...",
          items: ["GraphQL", "Apollo", "Webpack", "Parcel", "TDD", "Docker"]
        },
        softwares: {
          title: "Softwares com aptidão",
          items: [
            "SO Windows",
            "Ubuntu",
            "VS Code",
            "Adobe Photoshop",
            "Pacote Office",
            "Google Docs/Sheets/Presentations"
          ]
        }
      }
    };
  }
};
</script>

<style lang="scss">
@import "./assets/css/main.scss";
</style>
